*.a
*.dSYM/
*.dll
*.dylib
*.exe
*.la
*.lai
*.lib
*.lo
*.o
*.obj
*.out
*.rej
*.slo
*.so
*.so.[0-9]*
*.stackdump
*~
.*.swp
.libs

# OS
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
Thumbs.db
ehthumbs.db

# CMake
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
Testing/
cmake_install.cmake
install_manifest.txt

# Origin
CTestCustom.cmake
CompileTestDriver.cmake
OriginConfig.cmake
OriginConfigVersion.cmake
OriginTargets.cmake
cmake_uninstall.cmake
config.hpp
export.hpp
